html{-webkit-text-size-adjust:none}

table.rowTable th { text-align:center !important}
table.rowTable td.refererUrl a{overflow:hidden;text-overflow:ellipsis;display:inline-block;letter-spacing:-1px; !important}
table.rowTable td.userAgent .ua_more{position:absolute;margin-top:5px;letter-spacing:-1px;background-color:#fff;background-color:rgba(255,255,255,0.8); !important}
table.rowTable td.number { text-align:right; padding-right:10px; !important}
table.rowTable td.delete { text-align:center; !important}
.x .sTog{float:right;border:0;background-color:transparent;width:28px;height:18px;opacity:.5;filter:alpha(opacity=50)}

@media (orientation:landscape){
	.mobile-landscape-hidden{display:none}
}
@media (orientation:portrait){
	.mobile-portrait-hidden{display:none}
}